html {
  height: 100%;
}

body {
  background-color: #f3ede5;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#page-container {
  flex: 1 0 auto;
}

.header-nav {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: auto;
  margin-top: 40px;
}

.header-nav-left {
  margin-left: 50px;
  font-size: 18px;
  line-height: 22px;
}

.header-nav-right {
  margin-left: auto;
  font-size: 12px;
  line-height: 15px;
}

.header-nav-button {
  text-decoration: none;
  text-transform: uppercase;
  font-family: Krona One;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  margin-right: 50px;
}

.header-nav-button:hover {
  text-decoration: underline;
  text-decoration-color: #da3511;
  text-decoration-thickness: 2px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  margin-bottom: 100px;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-left {
  margin-top: 100px;
  margin-right: 50px;
}

.main-right {
  margin-top: 100px;
}

.main-text:hover {
  color: #da3511;
}

.main-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: right;
  text-transform: uppercase;
  text-decoration: none;
  color: #616161;
  margin-top: 0px;
  margin-bottom: 30px;
}

.footer {
  margin-left: 50px;
  margin-right: 50px;
  height: 60px;
  flex-shrink: 0;
}

.footer-line {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #000000;
  position: relative;
}

.footer-nav {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: auto;
  margin-top: 15px;
}

.footer-nav-left {
  font-size: 12px;
  line-height: 15px;
}

.footer-nav-right {
  margin-left: auto;
  font-size: 12px;
  line-height: 15px;
}

.footer-nav-button {
  text-decoration: none;
  text-transform: uppercase;
  font-family: Krona One;
  font-style: normal;
  font-weight: normal;
  color: #000000;
}

.footer-nav-button:hover {
  text-decoration: underline;
  text-decoration-color: #da3511;
  text-decoration-thickness: 2px;
}

.footer-nav-button-margin {
  margin-right: 20px;
}
