html {
  height: 100%;
}

body {
  background-color: #f3ede5;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#page-container {
  flex: 1 0 auto;
}

.header-nav {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: auto;
  margin-top: 40px;
}

.header-nav-left {
  margin-left: 50px;
  font-size: 18px;
  line-height: 22px;
}

.header-nav-right {
  margin-left: auto;
  font-size: 12px;
  line-height: 15px;
}

.header-nav-button {
  text-decoration: none;
  text-transform: uppercase;
  font-family: Krona One;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  margin-right: 50px;
}

.header-nav-button:hover {
  text-decoration: underline;
  text-decoration-color: #da3511;
  text-decoration-thickness: 2px;
}

.main {
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  margin-top: 100px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-nav-back {
  position: absolute;
  margin-top: 120px;
  margin-left: 70px;
}

.main-nav-back:hover {
  color: #da3511;
  text-decoration: underline;
}

.main-nav-back:hover > .back-arrow-right {
  border: solid #da3511;
  border-width: 0 60px 0px 0;
  display: inline-block;
  padding: 1px;
  margin-right: 20px;
}

.main-nav-back:hover > .back-arrow-left {
  border: solid #da3511;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-right: -15px;
  margin-bottom: -5px;
}

.back-arrow-left {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-right: -15px;
  margin-bottom: -5px;
}

.back-arrow-right {
  border: solid black;
  border-width: 0 60px 0px 0;
  display: inline-block;
  padding: 1px;
  margin-right: 20px;
}

.main-title {
  font-family: Krona One;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

.main-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  max-width: 550px;
  margin-bottom: 50px;
}

.main-img {
  display: block;
  min-width: 300px;
  max-width: 900px;
}

.main-bottom-nav {
  flex: 1;
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  margin-bottom: 100px;
}

.main-bottom-nav-prev {
  margin-left: 20px;
  margin-right: 500px;
}

.main-bottom-nav-next {
  margin-right: 50px;
}

.main-bottom-nav-nav {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
}

.main-bottom-nav-nav:hover {
  color: #da3511;
  text-decoration: underline;
}

.main-bottom-nav-nav:hover > .left-arrow-right {
  border: solid #da3511;
  border-width: 0 45px 0px 0;
  display: inline-block;
  padding: 1px;
  margin-right: 20px;
  margin-bottom: 4px;
}

.main-bottom-nav-nav:hover > .left-arrow-left {
  border: solid #da3511;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-right: -9px;
  margin-bottom: 1px;
}

.left-arrow-left {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-right: -9px;
  margin-bottom: 1px;
}

.left-arrow-right {
  border: solid black;
  border-width: 0 45px 0px 0;
  display: inline-block;
  padding: 1px;
  margin-right: 20px;
  margin-bottom: 4px;
}

.main-bottom-nav-nav:hover > .right-arrow-left {
  border: solid #da3511;
  border-width: 0 45px 0px 0;
  display: inline-block;
  padding: 1px;
  margin-left: 20px;
  margin-bottom: 4px;
}

.main-bottom-nav-nav:hover > .right-arrow-right {
  border: solid #da3511;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-left: -7px;
  margin-bottom: 1px;
}

.right-arrow-right {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-left: -7px;
  margin-bottom: 1px;
}

.right-arrow-left {
  border: solid black;
  border-width: 0 45px 0px 0;
  display: inline-block;
  padding: 1px;
  margin-left: 20px;
  margin-bottom: 4px;
}

.footer {
  margin-left: 50px;
  margin-right: 50px;
  height: 60px;
  flex-shrink: 0;
}

.footer-line {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #000000;
  position: relative;
}

.footer-nav {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: auto;
  margin-top: 15px;
}

.footer-nav-left {
  font-size: 12px;
  line-height: 15px;
}

.footer-nav-right {
  margin-left: auto;
  font-size: 12px;
  line-height: 15px;
}

.footer-nav-button {
  text-decoration: none;
  text-transform: uppercase;
  font-family: Krona One;
  font-style: normal;
  font-weight: normal;
  color: #000000;
}

.footer-nav-button:hover {
  text-decoration: underline;
  text-decoration-color: #da3511;
  text-decoration-thickness: 2px;
}

.footer-nav-button-margin {
  margin-right: 20px;
}
