html {
  height: 100%;
}

body {
  background-color: #f3ede5;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#page-container {
  flex: 1 0 auto;
}

.header-nav {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: auto;
  margin-top: 40px;
}

.header-nav-left {
  margin-left: 50px;
  font-size: 18px;
  line-height: 22px;
}

.header-nav-right {
  margin-left: auto;
  font-size: 12px;
  line-height: 15px;
}

.header-nav-button {
  text-decoration: none;
  text-transform: uppercase;
  font-family: Krona One;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  margin-right: 50px;
}

.header-nav-button:hover {
  text-decoration: underline;
  text-decoration-color: #da3511;
  text-decoration-thickness: 2px;
}

.main {
  margin-left: 120px;
  margin-bottom: 100px;
  flex: 1;
  display: flex;
  flex-direction: row;
}

.main-left {
  margin-top: 150px;
}

.blobline {
  margin-left: 10vw;
}

.main-h1 {
  font-family: Krona One;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 60px;
}

.main-h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  margin-top: -20px;
}

.main-button {
  margin-top: 50px;
  margin-bottom: 150px;
}

.main-href {
  text-decoration: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  border: 1px solid #000000;
  box-sizing: border-box;
  padding: 10px 20px 10px 20px;
}

.main-href:hover {
  color: #ffffff;
  border: 1px solid #da3511;
  background-color: #da3511;
}

.main-href:hover > .arrow-left {
  border: solid #ffffff;
  border-width: 0 60px 0px 0;
  display: inline-block;
  padding: 1px;
  margin-left: 20px;
  margin-bottom: 6px;
}

.main-href:hover > .arrow-right {
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-left: -7px;
  margin-bottom: 3px;
}

.arrow-right {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-left: -7px;
  margin-bottom: 3px;
}

.arrow-left {
  border: solid black;
  border-width: 0 60px 0px 0;
  display: inline-block;
  padding: 1px;
  margin-left: 20px;
  margin-bottom: 6px;
}

.footer {
  margin-left: 50px;
  margin-right: 50px;
  height: 60px;
  flex-shrink: 0;
}

.footer-line {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #000000;
  position: relative;
}

.footer-nav {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: auto;
  margin-top: 15px;
}

.footer-nav-left {
  font-size: 12px;
  line-height: 15px;
}

.footer-nav-right {
  margin-left: auto;
  font-size: 12px;
  line-height: 15px;
}

.footer-nav-button {
  text-decoration: none;
  text-transform: uppercase;
  font-family: Krona One;
  font-style: normal;
  font-weight: normal;
  color: #000000;
}

.footer-nav-button:hover {
  text-decoration: underline;
  text-decoration-color: #da3511;
  text-decoration-thickness: 2px;
}

.footer-nav-button-margin {
  margin-right: 20px;
}
